name: golang

on:
  push:
    branches: [ main, master ]
    paths:
      - 'golang/**'
      - '.github/workflows/**'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.20", "1.21", "1.22", "1.23", "1.24", "1.24.9", "1.25", "1.25.1"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if Dockerfile exists
        run: |
          if [ ! -f "golang/${{ matrix.go-version }}/Dockerfile" ]; then
            exit 1
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./golang/${{ matrix.go-version }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/siputzx/panel:go_${{ matrix.go-version }}
          cache-from: type=gha,scope=golang${{ matrix.go-version }}
          cache-to: type=gha,mode=max,scope=golang${{ matrix.go-version }}
          provenance: false
          sbom: false
